<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">
    <!-- 注册Servlet02 -->
    <servlet>
        <servlet-name>Servlet02</servlet-name>
        <servlet-class>com.servlet.Servlet02</servlet-class>
    </servlet>
    <!-- Servlet02映射 -->
    <servlet-mapping>
        <servlet-name>Servlet02</servlet-name>
        <url-pattern>/Servlet02</url-pattern>
    </servlet-mapping>

    <!-- 注册Servlet03 -->
    <servlet>
    <servlet-name>Servlet03</servlet-name>
    <servlet-class>com.servlet.Servlet03</servlet-class>
    </servlet>
    <!-- Servlet03映射 -->
    <servlet-mapping>
        <servlet-name>Servlet03</servlet-name>
        <url-pattern>/Servlet03</url-pattern>
    </servlet-mapping>

</web-app>